<template>
    <div class="__dashboardSection">
        <app-dark-navbar/>
        <app-navbar/>
        <button class="__btnAdd">Add Book</button>
        <div class="__cvList">
            <div class="__listTitle">Book Of Life</div>
            <div class="__listImage"></div>
            <div class="__listDesc">This is the book of life that i ever read</div>
            <button class="__btnDelete">Delete</button>
        </div>
    </div>
</template>

<script>
export default {
    head() {
        return {
            title: "Dashboard",
            meta: [{
                hid: "dashboard",
                name: "dashboard",
                content: "Dashboard Pages"
            }
            ]
        }
    }
}
</script>

<style>
.__dashboardSection{
    width: 375px;
    margin: 0 auto;
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    overflow: auto;
    margin-top: 20px;
}
.__btnAdd{
    width: 80px;
    height: 32px;
    margin-top: 80px;
    margin-left: 65%;
    color: white;
    background-color: #3b8070;
    border-radius: 10px ;
    font-family: monospace;
    border: 2px solid #3b8070;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.16);
}
.__cvList{
    width: 300px;
    height: 160px;
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 17px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.16);
}
.__cvList .__listTitle{
    font-family: monospace;
    font-size: 18px;
    font-weight: 700;
}
.__cvList .__listImage{
    width: 100px;
    height: 60px;
    margin-top: 10px;
    border-radius: 10px;
    background-image: url('~@/assets/kotlin.jpg');
    background-repeat: no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}
.__cvList .__listDesc{
    width: 166px;
    height: 60px;
    font-family: monospace;
    float: right;
    margin-top: -20%;
    margin-right: 5%;
    color: #2B2B2B;
    text-align: justify;
    line-height: 22px;
}
.__btnDelete{
    width: 80px;
    height: 32px;
    margin-top: 5%;
    margin-right: 10%;
    float: right;
    color: #FF5F6D;
    background-color: #FFCFD3;
    border-radius: 10px ;
    font-family: monospace;
    border: 2px solid #FFCFD3;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.16);
}
</style>