<template>
    <div class="app-navbar">
        <h1 class="app-name">
            BookApps
        </h1>
    </div>
</template>

<script>
export default {
    name: 'navbar'
}
</script>

<style>
.app-navbar {
    width: 375px;
    height: 48px;
    background-color: #F9F9F9;
    position: fixed;
    top: 24px;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.16);
}
.app-name {
    width: fit-content;
    height: 29px;
    font-family: monospace;
    font-size: 16px;
    color: #35495e;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
    top: 0;
    bottom: 2px;
    left: 24px;
}
</style>