<template>
    <div class="app-dark-navbar"/>
</template>

<script>
export default {
    name: 'dark-navbar'
}
</script>

<style>
.app-dark-navbar {
    width: 375px;
    height: 24px;
    background-color: #3b8070;
    position: fixed;
    top: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.16);
}
</style>