<template>
    <div class="app-wrapper-background">
        <slot />
    </div>
</template>

<script>
export default {
    name: 'AppWrapperBackground'
}
</script>

<style>
.app-wrapper-background {
    width: 375px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

::-webkit-scrollbar{
    width: unset;
}
</style>