<template>
  <div class="container">
    <div>
      <Logo />
      <h1 class="title">
        Welcome
      </h1>
      <h2 class="subTitle">
        BookApps
      </h2>
      <div>
        <nuxt-link to="/login" class="links">
          <a
          target="_blank"
          rel="noopener noreferrer"
          class="button--green"
        >
          Login
        </a>
        </nuxt-link>
        
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
.container {
  width: 375px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 32px;
  color: #35495e;
  letter-spacing: 1px;
}
.subTitle{
  font-family: monospace;
  font-size: 16px;
  color: #35495e;
  letter-spacing: 1px;
}

.links {
  padding-top: 15px;
}
</style>
