<template>
    <div class="__loginSection">
        <app-dark-navbar/>
        <app-navbar/>
        <div class="__loginForm">
            <p class="__titleForm">Please Input Your Data</p>
            <div class="__underlineTitle"/>
            <form method="post" class="__form">
                <!-- <label class="__labelForm" for="username">Username</label> -->
                <input id="username" name="username" type="text" placeholder="username"/>
                <!-- <label class="__labelForm" for="password">Password</label> -->
                <input id="password" name="password" type="password" placeholder="password"/>
                <input id="btnLogin" type="submit" value="Login"/>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    //setting the login head pages
    head() {
        return {
            title: "Login",
            meta: [{
                hid: "login",
                name: "login",
                content: "Login Pages"
            }
            ]
        }
    }
}
</script>

<style>
.__loginSection {
  width: 375px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  overflow: auto;
}
.__loginForm {
    width: 375px;
    height: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
.__titleForm {
    text-align: center;
    position: center;
    font-family: monospace;
    font-size: 16px;
}
.__underlineTitle {
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
    height: 2px;
    margin: 5px auto 10px auto;
    width: 89px;
}
.__labelForm{
    width: fit-content;
    height: auto;
    text-align: center;
    font-family: monospace;
    left: 0;
    font-size: 14px;
}
.__form {
    align-items: left;
    display: flex;
    flex-direction: column;
}
#username{
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-family: monospace;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    background-color: #ebebeb;
    outline: none;
}
::placeholder {
    color: #bababa;
    font-size: 16px;
    font-family: monospace;
}
#password {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-family: monospace;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    background-color: #ebebeb;
    outline: none;
}
#btnLogin{
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-family: monospace;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #3b8070;
    color: white;
    border: #3b8070;
    outline: none;
}
</style>